.scrollToTopBtn {
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 400;
  background-color: black;
  color: black;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 15px;
  right: 20px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide it at first */
  /* UPDATE: remove display none */
  /* 
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}
